// https://niri-wm.github.io/niri/Configuration:-Outputs
// List names and modes with: niri msg outputs

// ── Laptop Display ──────────────────────────────────────────
/-output "eDP-1" {
    mode "1920x1080@120.030"
    scale 2
    transform "normal"
    position x=1280 y=0
}

// ── Desktop PC Displays ─────────────────────────────────────
output "DP-1" {
    mode "2560x1440@239.970"
    scale 1.0
    transform "normal"
    position x=0 y=0
    variable-refresh-rate
}

output "HDMI-A-2" {
    mode "1920x1080@60.000"
    scale 1.0
    transform "normal"
    position x=2560 y=0
}
